body{
    background: rgb(202, 179, 179);
}

header{
    background: rgba(255, 255, 255, 0.699);
    padding: 10px;
    color: rgb(219, 130, 247);
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

main{
    background: rgb(175, 170, 170);
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
}

footer{
    background: rgb(159, 156, 161);
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
}

.box{
        width: 200px;
        height: 100px;
        padding: 20px;
        border: Spx solid black;
        margin:  10px;
        box-sizing: border-box;
    }

nav a{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
}

main{
    background: rgb(255, 255, 255);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
}

.mine{
    border-radius: 10px;
}

nav a:hover {
    background-color: aqua;
    color: black;
}

main h1{
    text-align: center;
}

main h1:hover {
    color: rgb(14, 244, 252);
    transform: scale(1.05);
    transition: 0.3s;
}

.video-section {
    text-align: center;
    margin-top: 30px;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
}


.video-section h2 {
    color: wheat;
}

.characters {
    text-align: center;
    margin-top: 30px;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    color: wheat;
}

.characters-row {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.character img {
    width: 300px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.character img.hover {
    transform: scale(1.1);
}

 .intro {
    text-align: center;
    margin-top: 30px;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    color: rgb(255, 255, 255);
 }

 .intro li{
        list-style: none;
 }

 .worlds-row{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    position: relative;
 }

 .world {
    position: relative;
    width: 250px;
    cursor: pointer;
    overflow: visible;
    border-radius: 10px;
    transition: all 0.3s;
    z-index: 1;
 }

 .world img {
    width: 100%;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s;
    transform-origin: center;
 }

 .world:hover {
    z-index: 10;
 }

 .world:hover img {
    transform: scale(2);
 }

 .overplay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    transition: transform 0.3s;
    z-index: 20;
 }

 .world:hover .overplay {
    transform: translate(-50%, -50%) scale(1);
 }

 .contact {
    text-align: center;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    color: wheat;
 }

 .contact-from {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
 }

 .contact-from input
.contact-from textarea{
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
 }

 .contact-from button {
    background-color: wheat;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3;
 }

 .contact-from button:hover{
    background-color: darkorange;
    color: wh;
 }